@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* padding: auto;
  margin: auto;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none; */
}

body{
    background-color: rgba(87, 143, 202, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;

}

.container{
    position: relative;
    overflow: hidden;
    border: 3px solid #FBFBFB;
    border-radius: 15px;
    height: 600px;
    width: 340px;
}

.container .box{
    opacity: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.4s ease;
}

.container .box.show{
    opacity: 1;
}

nav{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
}

nav ul{
    display: flex;
    list-style-type: none;
    background: #ecf2f8;
    margin: 0;
    padding: 0;
    height: 60px;
}

nav li{
    color: #3674B5;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;
}

nav ul li p{
    font-size: 12px;
    margin: 2px 0;
}

nav ul li:hover{
    color: #1d528a;
    font-weight: 500;
}

nav ul li.active{
    color: #1d528a;
    font-weight: 600;
}

/* .about-container,.projects-container,.contact-container{
    display: none;
} */